.generalPreview {
  background: #f5f5f5c6;
  transition: all 0.2s;
  > div:first-child {
    text-align: center;
    padding-top: 2rem;
    p {
      font-size: 2.5rem;
    }

    span {
      font-size: 1.2rem;
      margin-inline: 0.4rem;
    }
  }

  > div:nth-child(2) {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    padding: 3rem;
    p {
      font-size: 1.3rem;
      word-wrap: break-word;
    }
  }
}
.educationPreview {
  background: #f5f5f5c6;
  padding: 6rem 3rem;
  p {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    i {
      margin-left: 1rem;
    }
  }

  ul {
    list-style-type: square;
    margin-left: 2rem;
    font-size: 1.5rem;

    li {
      ul {
        list-style-type: circle;
      }
    }
  }
}

.previewSkills {
  background: #f5f5f5c6;
  padding: 6rem 3rem;
  p {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    border-bottom: 0.2rem solid black;
    padding-bottom: 0.5rem;
    i {
      margin-left: 1rem;
    }
  }
  span {
    padding-left: 1rem;
  }
}

.experiencePreview {
  background: #f5f5f5c6;
  padding: 6rem 3rem;
  margin-bottom: 5rem;
  p {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    i {
      margin-left: 1rem;
    }
  }

  ul {
    list-style-type: square;
    margin-left: 2rem;
    font-size: 1.5rem;

    li {
      ul {
        list-style-type: circle;
      }
    }
  }
}
